@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
}

body {
	background: #ebebeb;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
    color: #222;
}

.top_div {
    background: #008ead;
    width: 100%;
    height: 400px;
}

.bottom_div{
	background: rgb(255, 255, 255); 
	margin: -240px auto auto; 
	border: 1px solid rgb(231, 231, 231); 
	border-image: none; 
	width: 600px; 
	height: auto; 
	text-align: center;
}

.ipt {
    border: 1px solid #d3d3d3;
    padding: 10px 10px;
    width: 290px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.ipt:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

a {
    text-decoration: none;
}

table{
	width: 400px;
	margin-left: 80px;
	margin-top: 10px;
}

table td{
	text-align: left;
	margin-bottom: 20px;
	height: 30px;
}

table td.name{
	display:block;
	font: 16px "microsoft yahei";
	width: 100px;
	color: #666;
	text-align: right;
	line-height: 50px;
}

.logo{
	margin-top: -80px;
}

input[type="text"].code{
	width: 160px;
}

.verifycode {
	display: block;
	float: right;
	margin-right: 42px;
}

.error {
	color: red;
	height: 20px;
	margin: 30px auto 0;
	overflow: hidden;
	text-align: center;
	width: 400px;
}

.error span{
	font-size: 16px;
}

input[type="text"]._error,input[type="password"]._error{
	border-color: rgba(255, 0, 0, .6);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 0, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 0, 0, .6)
}












